extends base

block content
    section.main
        .card-container
            each meeting in user.meetings
                .card.signingMeetingCard
                    .card__details
                        h4.card__sub-heading= `Info: ${meeting.info}`
                        h4.card__sub-heading= `Gdzie: ${meeting.place}`
                        h4.card__sub-heading= `Kiedy: ${meeting.date}`
                        h4.card__sub-heading= `Limit osób: ${meeting.limit}`
                    .card__footer
                        button.signForMeetingBtn(value=`${meeting.id}`) ZAPISZ SIĘ NA TO SPOTKANIE